@import "vars";
.animate-enter {
    transition: all 100ms linear;
    opacity: 0;
}
.animate-leave {
    transition: all 100ms linear;
    opacity: 1;
}
.animate-enter.animate-enter-active {
    opacity: 1;
}
.animate-leave.animate-leave-active {
    opacity: 0;
}
.hero-img {
    background: url('../img/hero/the-vineyard.jpg') no-repeat;
    background-size: cover;
    background-color: $grayed;
    width: 100%;
    height: 610px;

    h1 {
        padding-top: 150px;
        padding-right: 70px;
        font-size: 70px;
        display: inline-block;
        float: right;
        position: relative;
        bottom: 0px;
        transition: all 300ms linear;
    }
}

.section {
    padding: 50px 0px;
}

.welcome-area {
    text-align: center;
    background-color: white;

    p {
        color: $brown;
        width: 400px;
        margin: auto;
    }
}



.about-area {
    text-align: center;
    background-color: $light-brown;

    p {
        width: 300px;
        display: inline-block;
        text-align: left;
        font-weight: 300;
        letter-spacing: .2px;
        line-height: 1.4;
        padding: 40px 40px;
        top: -50px;
        position: relative;

        span {
            font-weight: 800;
            font-size: 30px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            color: $dark-brown;
        }
    }
    img {
        width: 400px;
        box-shadow: 0 0 4px 1px;
    }
}


.wines-area {
    text-align: center;

    h1 {
        font-size: 40px;
        text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    }
    .wine {
        text-align: left;
        margin-bottom: 30px;
        position: relative;
        right: 300px;
        transition: all 400ms linear;
        
        .wine-inner {
            display: inline-block;
            background-color: rgba(255,255,255,.5);
            border-radius: 0px 3px 3px 0px;
        }
        &:nth-of-type(even) {
            text-align: right;
            left: 300px;
            .wine-img {
                float: right;
            }
            .wine-inner {
                border-radius: 3px 0px 0px 3px;
            }
        }
        .wine-img {
            width: 200px;
            height: 300px;
        }
        .details {
            display: inline-block;
            width: 400px;
            font-size: 12px;
            padding: 10px;

            div {
                padding-bottom: 5px;
            }
            .name {
                font-size: 20px;
                color: $dark-brown;
                padding-bottom: 20px;
            }
        }
    }
}