@import "vars";
body {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    background: url('../img/collage-products.jpg');
    background-attachment: fixed;
    background-size: contain;
    transition: all 100ms linear;
    overflow-x: hidden;
}
h1 {
    color: $dark-brown;
}

.header {

    height: 100px;
    background-color: $grayed;
    width: 100%;
    position: fixed;   
    top: 0;
    z-index: 50;
    text-align: center;
    transition: all 200ms linear;

    &.header2 {
        height: 50px;
        background-color: black;

        a {
            font-size: 19px;
            color: $light-brown;
            padding-top: 10px;
        }
    }

    .links {
        margin: auto;
    }
    a {
        
        color: white;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        letter-spacing: 1px;
        padding: 30px 30px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        top: 0px;
        transition: all 200ms linear;
    
        &:hover {
            top: 5px;
            
        }
    }
}

footer {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px;
    .spacer {
        display: inline-block;
        width: 100px;
    }

    .share-btns {
        display: inline-block;
        float: right;
        
        .twitter-share-button, #twitter-widget-0 {
            width: 80px !important;
            margin-bottom: 5px;
        }
        .fb-like {
            bottom: 8px;
        }
        #___plusone_0 {
            width: 67px !important;
            bottom: 3px !important;
            position: relative;
        }
        .pin-btn {
            bottom: 5px;
            position: relative;
        }
    }
}