
<div class='home'>
    <div class='hero-img'>
        <a id="spice"></a>
    </div>

    <div class='welcome-area section'>
        <h1>Welcome to Spice Boys Vintning and Brewing</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
    </div>
    
    <div class='about-area section'>
        <a id="about"></a>
        <h1>THE SPICE BOYS</h1>
        <div class='row'>
            <p>
                <span>HISTORY</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <img src='/img/boys_suits.jpg' />
        </div>
        <div class='row'>
            <img src='/img/old_equip.jpg'/>
            <p>
                <span>HISTORY</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>
    
    <div class='wines-area section'>
        <a id="wines"></a>
        <h1>OUR WINES</h1>


        <div class='wine'>
            <img src='/img/wine-bottle1.jpg'/>
            <div class='details'>
                <div class='name'>Hellloo?</div>
                <div class='desc'>Pale yellow in color, with ripe citrus notes and juicy tropical aromas. Fresh acidity with bright lemon and grapefruit flavors which are ripe and refreshing on the palate. Crisp and delightful with a smooth, medium-body and elegant finish.</div>

                <div>Production area: Valle del Rapel</div>
                <div>Vineyard name: Casablanca Valley, Chile</div>
                <div>Soil composition: Granitic with red clay, sandy loam and</div>
                <div>Elevation: 900 to 1300 feet</div>
                <div>Varietal composition: 100% Sauvignon Blanc</div>
                <div>Length of aging before bottling: 4 months on the lees</div>
                <div>Alcohol: 13.0%</div>
                <div>pH level: 3.3</div>
                <div>Acidity: 6.5 g/L</div>
            </div>
        </div>
        <div class='wine'>
            <img src='/img/wine-bottle1.jpg'/>
            <div class='details'>
                <div class='name'>Hunky Armfuls of Michael</div>
                <div class='desc'>Pale yellow in color, with ripe citrus notes and juicy tropical aromas. Fresh acidity with bright lemon and grapefruit flavors which are ripe and refreshing on the palate. Crisp and delightful with a smooth, medium-body and elegant finish.</div>

                <div>Production area: Valle del Rapel</div>
                <div>Vineyard name: Casablanca Valley, Chile</div>
                <div>Soil composition: Granitic with red clay, sandy loam and</div>
                <div>Elevation: 900 to 1300 feet</div>
                <div>Varietal composition: 100% Sauvignon Blanc</div>
                <div>Length of aging before bottling: 4 months on the lees</div>
                <div>Alcohol: 13.0%</div>
                <div>pH level: 3.3</div>
                <div>Acidity: 6.5 g/L</div>
            </div>
        </div>
        <div class='wine'>
            <img src='/img/wine-bottle1.jpg'/>
            <div class='details'>
                <div class='name'>Just Like Wine</div>
                <div class='desc'>Pale yellow in color, with ripe citrus notes and juicy tropical aromas. Fresh acidity with bright lemon and grapefruit flavors which are ripe and refreshing on the palate. Crisp and delightful with a smooth, medium-body and elegant finish.</div>

                <div>Production area: Valle del Rapel</div>
                <div>Vineyard name: Casablanca Valley, Chile</div>
                <div>Soil composition: Granitic with red clay, sandy loam and</div>
                <div>Elevation: 900 to 1300 feet</div>
                <div>Varietal composition: 100% Sauvignon Blanc</div>
                <div>Length of aging before bottling: 4 months on the lees</div>
                <div>Alcohol: 13.0%</div>
                <div>pH level: 3.3</div>
                <div>Acidity: 6.5 g/L</div>
            </div>
        </div>



    </div>
</div>