
<div class='home'>
    <div class='hero-img {{product}}'>
        <a id="spice"></a>
        <h1 slide-up>Enjoy the Spice</h1>
    </div>

    <div class='welcome-area section'>
        <h1>{{welcomeHeader}}</h1>
        <p>{{welcomeBody}}</p>
    </div>
    
    <div class='about-area section'>
        <a id="about"></a>
        <h1>THE SPICE BOYS</h1>
        <div class='row'>
            <p>
                <span>{{aboutH1}}</span>
                {{aboutP1}}
            </p>
            <img src='{{aboutImg1}}' />
        </div>
        <div class='row'>
            <img src='{{aboutImg2}}' />
            <p>
                <span>{{aboutH2}}</span>
                {{aboutP2}}
            </p>
        </div>
    </div>
    
    <div class='wines-area section'>
        <a id="wines"></a>
        <h1>{{productHeader}}</h1>

       <div class='wine' slide-in='right' ng-repeat='w in wines'>
            <div class='wine-inner'>
                <!-- <div class='wine-img {{w.attributes.class}}'></div> -->
                <img class='wine-img' ng-src='{{w.attributes.img}}' alt='Wine Label' />
                <div class='details'>
                    <div class='name'>{{w.attributes.name}}</div>
                    <div class='desc'>{{w.attributes.desc}}</div>

                    <div>Production area: {{w.attributes.area}}</div>
                    <div>Vineyard name: {{w.attributes.vineyardName}}</div>
                    <div>Soil composition: {{w.attributes.soil}}</div>
                    <div>Elevation: {{w.attributes.elevation}}</div>
                    <div>Varietal composition: 1{{w.attributes.varietal}}</div>
                    <div>Length of aging before bottling: {{w.attributes.aging}}</div>
                    <div>Alcohol: {{w.attributes.alcohol}}</div>
                    <div>pH level: {{w.attributes.pH}}</div>
                    <div>Acidity: {{w.attributes.acidity}}</div>
                </div>
            </div>
            <img class='sb-logo' src='img/logos/sb_logo.png' />
        </div>
    </div>
</div>